<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <!-- 数据源配置 dbcp -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/xiyou"/>
        <property name="username" value="game"/>
        <property name="password" value="game"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <!--<property name="initialSize" value="1"/> 默认是0个, 感觉也不是一直有人登录, 就默认0个-->
        <property name="validationQuery" value="SELECT 1"/>
        <property name="maxTotal" value="10"/> <!--最多同时有10个连接在连接池-->
        <property name="maxIdle" value="10"/>
        <property name="minIdle" value="0"/><!--默认为0,如果没人登录,就不连-->
        <property name="timeBetweenEvictionRunsMillis" value="600000"/><!--每x秒运行一次空闲连接回收器-->
        <!--
        池中的连接空闲30分钟后被回收, 结合上面这个参数, 意思是每600秒运行一次空闲连接回收器, 每次检查3个(numTestsPerEvictionRun默认值),如果连接空闲时间超过30分钟就销毁.
        销毁连接后, 连接数量就少了, 如果小于minIdle数量,就新建连接, 维护数量不少于minIdle, 过行了新老更替.
        -->
        <property name="minEvictableIdleTimeMillis" value="1800000"/>
        <property name="maxWaitMillis" value="10000"/><!--等一个connection最多等待时间-->
    </bean>

    <!-- dba_data_source -->
    <bean id="dbaDataSource" class="org.apache.commons.dbcp2.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/dba_data"/>
        <!-- <property name="url" value="jdbc:mysql://123.56.129.155:3306/dba_data"/> -->
        <!-- <property name="url" value="jdbc:mysql://127.0.0.1:3306/dba_data"/> -->
        <property name="username" value="game"/>
        <property name="password" value="game"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <property name="validationQuery" value="SELECT 1"/>
        <property name="maxTotal" value="10"/>
        <property name="maxIdle" value="10"/>
        <property name="minIdle" value="0"/>
        <property name="timeBetweenEvictionRunsMillis" value="600000"/>
        <property name="minEvictableIdleTimeMillis" value="1800000"/>
        <property name="maxWaitMillis" value="10000"/>
    </bean>

    <!-- mybatis -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.bigao.backend.mapper"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 异步线程池 -->
    <bean id="threadPool"
          class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <!-- 核心线程数 -->
        <property name="corePoolSize" value="1"/>
        <!-- 最大线程数 -->
        <property name="maxPoolSize" value="64"/>
        <!-- 队列最大长度 >=mainExecutor.maxSize -->
        <property name="queueCapacity" value="50000"/>
        <!-- 线程池维护线程所允许的空闲时间 -->
        <property name="keepAliveSeconds" value="300"/>
        <!-- 线程池对拒绝任务(无线程可用)的处理策略 -->
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy"/>
        </property>
    </bean>

    <!--文件上传-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>

</beans>