<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!-- OFF,FATAL,ERROR,WARN,INFO,DEBUG -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>[%-5p] %d{MM-dd HH:mm:ss} [%thread] [%file:%line] %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="main" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/home/wait/datalog/main</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/home/wait/datalog/main%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%-5p] %d{MM-dd HH:mm:ss} [%thread] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="operate" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/home/wait/datalog/operate</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/home/wait/datalog/operate%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%-5p] %d{MM-dd HH:mm:ss} [%thread] [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="mail" class="ch.qos.logback.classic.net.SMTPAppender">
        <evaluator class="com.bigao.backend.common.SMTPEvaluator"/>
        <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">
            <!-- send just one log entry per email -->
            <bufferSize>1</bufferSize>
        </cyclicBufferTracker>

        <smtpHost>smtp.sina.com</smtpHost>
        <username>xxbglog@sina.com</username>
        <password>Xxbglog123</password>
        <smtpPort>25</smtpPort>
        <from>xxbglog@sina.com</from>
        <to>tangyiyou@begowin.com</to>
        <to>weiyong@begowin.com</to>
        <subject>backend</subject>

        <layout class="ch.qos.logback.classic.html.HTMLLayout">
            <pattern>[%-5p] %d{MM-dd HH:mm:ss} [%thread] [%file:%line] %msg%n</pattern>
        </layout>
    </appender>


    <logger name="org.springframework" level="WARN"/>

    <logger name="org.springframework.security" level="WARN"/>

    <logger name="org.apache.commons.beanutils" level="WARN"/>

    <logger name="org.apache.ibatis" level="WARN"/>

    <logger name="com.bigao.backend.mapper" level="WARN"/>

    <logger name="org.ibatis" level="WARN"/>

    <logger name="org.mybatis.spring" level="WARN"/>

    <logger name="org.apache.http" level="WARN"/>

    <logger name="operate" additivity="false" level="INFO">
        <appender-ref ref="operate"/>
    </logger>

    <logger name="inner" additivity="false" level="INFO">
        <appender-ref ref="inner"/>
    </logger>

    <logger name="cmdLog" additivity="false" level="INFO">
        <appender-ref ref="cmdLog"/>
    </logger>

    <root level="INFO">
        <!--<appender-ref ref="CONSOLE"/>-->
        <appender-ref ref="main"/>
        <appender-ref ref="mail"/>
    </root>

</configuration>

